@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-primary" type="button"> Go!!!</button>
    <button class="btn btn-success" type="button"> My Button!!!</button>
    <button class="btn btn-info" type="button"> My Second Button!!!</button>
    <button class="btn btn-link" type="button">  link!!!</button>
    <h1 class="bg-danger"> Deployed from Git hub </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
